/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:09:42 PM
    Author     : JL
*/

body{
    background-color: #FFFBD0;
}

#banner{
    
    color: #FFFFFF;
    background-color: #CC6600;
}

#menu{
    background-color: #FF9900;
}

#menu a{
    color : #1D1D1D;
}


#content{
    background-color: #FFFFFF;
}

.section{
    
    
}

footer{
    color: #FFFFFF;
    background-color: #FF3F34;
    
}