/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 4:49:28 PM
    Author     : JL
*/

@import url(https://fonts.googleapis.com/css?family=Economica:400,400italic,700);


body{
    
    font-family: 'Economica', sans-serif;
}

p{
    font-size: 1.1em;
    letter-spacing: .09em;
    line-height: 1.5em;
}