/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:09:42 PM
    Author     : JL
*/

body{
    background-color: #f9f9f9;
}

#banner{
    background-color: #b44663;
    color: #FFFFFF;
}

#menu{
    background-color: #ce9eb3;
}

#menu a{
    color : #1D1D1D;
}

#content{
    background-color: #e9dce4;
}

.section{
    
    
}

footer{
    color: #FFFFFF;
    background-color: #330911;
}