/* 
    Created on : Nov 12, 2015, 7:32:26 PM
    Author     : JL
*/

.fileToolBar_view button{
    
}




.sitePane{

    -fx-padding : 0 0 0 0;
    -fx-alignment : center;
    //-fx-effect: innershadow(gaussian, #d3d3d3, 0.0, 2, 0);
}

.pagePane{

}

.pagePane HBox{
    
    -fx-padding: 0 20 0 0;
}

.pagePane Label{
    
    -fx-padding: 2;
}

.workSpace{
    
    -fx-padding: 60;
    -height : 150;
}


.pageEditor{
    
    -fx-padding: 0 0 15 -40;
    -fx-font-size: 13;
    -fx-font-weight: bold; 
}

.editorHeader{
    
    -fx-padding: 20 0 15 -20;
    -fx-font-weight: bold; 
}

.component{
    
    
    -fx-padding : 20;
    -fx-background-color: #9Fccfe;
}

.selectedComponent{
    -fx-padding : 20;
    -fx-background-color: #5D8AA8;
}

.componentType{
    
    -fx-padding: 15 0 10 5;
    -fx-font-weight : bold;
}

.componentCont{
    
    -fx-padding: 5 20 10 25;
}
