/* 
    Created on : Nov 15, 2015, 9:17:39 PM
    Author     : JL
*/


.header{
    
    -fx-font-size : 14;
    -fx-padding : 30 0 30 20;
    -fx-background-color: #ededed;
    
}

.radio{
    
    
}

.radioLabel{
    -fx-padding: 30 20 30 0;
    
}

.textField{
    
    height: 25%;
    width: 25%;
    
}

.comfrimButtons{
    
    -fx-padding: 20 0 20 0;
}